*{
    padding:10px;
    margin: 15px;
    
}

section{
    background-color: bisque;
    margin:auto;
    border-radius: 10px;
    width: 900px;
    display: block;
    
    
}
img{
    display: block;
    margin:  auto;
    padding: 10x;
    padding:0px;
}
h2{
    text-align: center;
    
    
}
h4{
    color: brown;
    padding: 0px;
}
hr{
    color: rgba(3, 3, 117, 0.552);
    padding: 0px;
    height:  1px;
    background-color: rgb(0, 0, 7);
}
p{
    padding: 0px;
}